html {
    font-family: 'Inter', sans-serif !important;
}

#logo {
    height: 150px;
}

#ayrac {
    font-size: 20px;
}

#navbar-bg {
    background-color: white;

}


.nav-item a {
    margin-right: 5px;
    color: #664136;
    font-size: 18px;
    transition: all .5s ease;
}

.nav-item a:hover {
    background: #664136f3;
    color: #C7A287;
    transition: all .5s ease;
    border-radius: 5px 20px
}

#text {
    color: white;

}

#shopping-link {
    background-color: #C7A287;
    height: 70px;
    position: relative;
    margin: auto;
}

.btn-group a {
    margin-right: 5px;
    font-size: 18px;
    transition: all .5s ease;
}

.btn-group a:hover {
    background: #66413698;
    transition: all .5s ease;
    border-radius: 5px 20px
}

#shopping-bar-logo {
    margin-left: 1050px;
    height: 70px;
    width: 70px;
}

#footer {

    background: #C7A287;
}

#list-group-item {
    list-style: none;
    text-align: center;
}

#list-group-item a {
    color: #664136;
}

.figure:hover {
    opacity: 0.8;
}

.card-title {
    color: #664136;
}

.card-text {
    color: #664136;
}

@media screen and (max-width: 992px) {
    .nav-item a:hover {
        background-color: #c7a28793;
        color: #664136;
        border-radius: 5px 5px
    }

    #shopping-bar-logo {
        margin-left: 0;
        height: 60px;
        width: 60px;
    }

    .card {
        margin: auto;
    }
}

@media screen and (max-width: 480px) {
    #shopping-bar-logo {
        display: none;
    }

    #footerLogo {
        width: 300px;
    }

    .card {
        margin: auto;
    }
}