
@{
    ViewBag.Title = "Blog";
}

<div>
    <img src="~/gmKurumsal/img/6.png" class="img-fluid" style="width: 100%; height: auto;" alt="Yanan Mumlar">
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-md-4 mt-3">
            <div class="card" style="width: 18rem;">
                <img src="~/gmKurumsal/img/mumlarstilveatmosfer.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Stil ve Atmosfer Nasıl Yaratılır?</h5>
                    <p class="card-text">
                        Ev dekorasyonu, evimizi kişiselleştirmek, rahatlatıcı bir atmosfer yaratmak
                        ve iç mekanı estetik olarak güzelleştirmek için kullandığımız önemli bir unsurdur...
                    </p>
                    <a href="/Home/blogPost1/" class="btn" style="color: #482922;">Devamını Oku <i style="color: #482922;" class="fa-solid fa-angles-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card" style="width: 18rem;">
                <img src="~/gmKurumsal/img/mumlarvezihindengesi.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Meditasyon ve Yoga Pratiğinde Mumların Rolü</h5>
                    <p class="card-text">
                        Meditasyon ve yoga, zihin, beden ve ruh sağlığını geliştirmek için
                        kullanılan kadim
                        uygulamalardır. Bu disiplinler, genel yaşam
                        kalitesini artırma gibi birçok fayda sunarlar.
                    </p>
                    <a href="/Home/blogPost3/" class="btn" style="color: #482922;">Devamını Oku <i style="color: #482922;" class="fa-solid fa-angles-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card" style="width: 18rem;">
                <img src="~/gmKurumsal/img/mermerdesenlimum.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Zarafet ve Estetiği Bir Araya Getirmek</h5>
                    <p class="card-text">
                        Ev dekorasyonunda küçük ayrıntılar büyük fark yaratabilir. Mermer desenli
                        mumlar, son
                        yıllarda ev dekorasyonunda popüler hale gelen zarif ve estetik aksesuarlardır.
                    </p>
                    <a href="/Home/blogPost2/" class="btn" style="color: #482922;">Devamını Oku <i style="color: #482922;" class="fa-solid fa-angles-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card" style="width: 18rem;">
                <img src="~/gmKurumsal/img/renklimumlar.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> Renkli Mumlar ve Renklerin Özellikleri</h5>
                    <p class="card-text">
                        Ev dekorasyonu, evinizi kişiselleştirirken atmosferi ve duygusal etkileri
                        yakalamak için renkleri kullanmanın önemli bir yönüdür. Renkler, duygusal
                        tepkileri tetikleyebilir, enerjiyi artırabilir veya sakinleştirici bir...
                    </p>
                    <a href="/Home/blogPost4/" class="btn" style="color: #482922;">Devamını Oku <i style="color: #482922;" class="fa-solid fa-angles-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card" style="width: 18rem;">
                <img src="~/gmKurumsal/img/simlimum.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Simli Mumlar: Dekorasyona Parıltı ve Şıklık Katın</h5>
                    <p class="card-text">
                        Ev dekorasyonunda küçük ayrıntılar büyük fark yaratabilir. Mermer desenli
                        mumlar, son
                        yıllarda ev dekorasyonunda popüler hale gelen zarif ve estetik aksesuarlardır.
                    </p>
                    <a href="/Home/blogPost5/" class="btn" style="color: #482922;">Devamını Oku <i style="color: #482922;" class="fa-solid fa-angles-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card" style="width: 18rem;">
                <img src="~/gmKurumsal/img/topmum.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ev Dekorasyonunda Şıklığı Yakalayın</h5>
                    <p class="card-text">
                        Ev dekorasyonunda kullanılan mumlar, sadece bir ışık kaynağı olmanın
                        ötesine
                        geçer. Estetik görünümleri ve farklı tasarım seçenekleriyle ortama şıklık katar. Top mumlar
                        şıklıkta öne çıkan bir seçenektir.
                    </p>
                    <a href="/Home/blogPost6/" class="btn" style="color: #482922;">Devamını Oku <i style="color: #482922;" class="fa-solid fa-angles-right"></i></a>
                </div>
            </div>
        </div>
    </div>

</div>
