
@{
    ViewBag.Title = "Contact";
}

<div>
    <img src="~/gmKurumsal/img/7.png" class="img-fluid" style="width: 100%; height: auto;" alt="Yanan Mumlar">

</div>

<main>
    <div class="container my-4">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-decoration-underline" style="color: #482922;">İletişim</h3>
                <hr>
                <div class="aboutus">
                    <img class="img-fluid" id="page-logo" src="~/gmKurumsal/img/goksunbuyuk.png" alt="Logo"
                         style="width: 300px; height: 300px; float: right;">
                    <p class="aboutus-text">
                        Firmamıza ulaşmak, sorularınızı sormak, geri bildirimde bulunmak veya herhangi bir konuda iletişim
                        kurmak
                        için bu iletişim sayfasını kullanabilirsiniz. Müşteri memnuniyeti bizim önceliğimizdir ve size en
                        kısa sürede geri dönüş yapmak için buradayız. Sipariş ve ürünler hakkında bilgi almak için de
                        iletişim bilgilerimizi kullanabilirsiniz. <br><br>

                        Aşağıda iletişim bilgilerimizi bulabilirsiniz: <br>

                        Firma Adı: Göksun Mum <br>
                        Adres: Şerifali mah. Başer sok. No:51/2 Ümraniye/İstanbul<br>
                        Telefon: +90 505 543 05 12 <br>
                        E-mail: info@goksunmum.com <br><br>

                        Sizden gelen her türlü soru, talep veya öneriye değer veriyoruz. Eğer bir ürün veya hizmet hakkında
                        bilgi almak istiyorsanız, lütfen konuyla ilgili detayları bize bildirin. Size en iyi şekilde
                        yardımcı
                        olmaktan mutluluk duyarız. <br><br><br>
                        <i>
                            Saygı ve sevgilerimizle, <br>
                            Göksun Mum
                        </i>
                    </p>

                </div>
            </div>
        </div>
    </div>
</main>
