
@{
    ViewBag.Title = "Products";
}

<div>
    <img src="~/gmKurumsal/img/8.png" class="img-fluid" style="width: 100%; height: auto;" alt="Yanan Mumlar">

</div>

<main>


    <section class="p-5 text-center products">
        <div class="container">
            <br>
            <h4 class="pt-2" style="color: #482922;">Pasta Mumları</h4>
            <div class="row">
                <div class="col-md-3">

                    <figure class="figure">
                        <img src="~/gmKurumsal/img/pastamumu(6).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="~/gmKurumsal/img/pastamumu(7).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="~/gmKurumsal/img/pastamumu(11).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="~/gmKurumsal/img/pastamumu(12).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
            </div>
            <hr>
            <br>
            <h4 class="pt-2" style="color: #482922;">Buhurdanlık ve Esans</h4>
            <div class="row">
                <div class="col-md-3">

                    <figure class="figure">
                        <img src="~/gmKurumsal/img/buhurdanlik 8(10).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="~/gmKurumsal/img/buhurdanlik 8(11).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="~/gmKurumsal/img/buhurdanlik 8(12).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="~/gmKurumsal/img/buhurdanlik 8(14).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
            </div>
            <hr>
            <br>
            <h4 class="pt-2" style="color: #482922;">Simli Mumlar</h4>
            <div class="row">
                <div class="col-md-3">

                    <figure class="figure">
                        <img src="~/gmKurumsal/img/simlisilindirMUM(10).jpg" class="figure-img img-fluid rounded shadow"
                             alt="...">
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="~/gmKurumsal/img/simlisilindirMUM(11).jpg" class="figure-img img-fluid rounded shadow"
                             alt="...">
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="~/gmKurumsal/img/simlitopmum(1).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="~/gmKurumsal/img/simlitopmum(2).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
            </div>
            <hr>
            <br>
            <h4 class="pt-2" style="color: #482922;">Silindir Mumlar</h4>
            <div class="row">
                <div class="col-md-3">

                    <figure class="figure">
                        <img src="~/gmKurumsal/img/silindirMum(4).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="~/gmKurumsal/img/silindirMum(5).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="~/gmKurumsal/img/silindirMum(6).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="~/gmKurumsal/img/silindirMum(7).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
            </div>
            <hr>

            <br>
            <h4 class="pt-2" style="color: #482922;">Top Mumlar</h4>
            <div class="row">
                <div class="col-md-3">

                    <figure class="figure">
                        <img src="~/gmKurumsal/img/topmumsimsiz.jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="~/gmKurumsal/img/topmum-simsiz(1).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="~/gmKurumsal/img/topmum-simsiz(3).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="~/gmKurumsal/img/topmum-simsiz(2).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
            </div>
            <hr>

            <br>
            <h4 class="pt-2" style="color: #482922;">Mermer Desenli Mumlar</h4>
            <div class="row">
                <div class="col-md-3">

                    <figure class="figure">
                        <img src="~/gmKurumsal/img/mermerDesenler(4).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="~/gmKurumsal/img/mermerDesenler(2).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="~/gmKurumsal/img/mermerDesenler(1).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="~/gmKurumsal/img/mermerDesenler(3).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
            </div>
            <hr>

            <br>
            <h4 class="pt-2" style="color: #482922;">Özel Tasarım Teneke Mumlar</h4>
            <div class="row">
                <div class="col-md-3">

                    <figure class="figure">
                        <img src="~/gmKurumsal/img/tenekeMum(10).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="~/gmKurumsal/img/tenekeMum(12).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="~/gmKurumsal/img/tenekeMum(15).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="~/gmKurumsal/img/tenekeMum(18).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
            </div>
            <hr>

            <br>
            <h4 class="pt-2" style="color: #482922;">Özel Tasarım Kavanoz Mumlar</h4>
            <div class="row">
                <div class="col-md-3">

                    <figure class="figure">
                        <img src="~/gmKurumsal/img/kavanozMum(1).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="~/gmKurumsal/img/kavanozMum(2).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="~/gmKurumsal/img/kavanozMum(3).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="~/gmKurumsal/img/kavanozMum(4).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
            </div>
            <hr>

            <br>
            <h4 class="pt-2" style="color: #482922;">Yüzen Mumlar</h4>
            <div class="row">
                <div class="col-md-3">

                    <figure class="figure">
                        <img src="~/gmKurumsal/img/buyukYuzen(1).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="~/gmKurumsal/img/kucukYuzen(1).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="~/gmKurumsal/img/buyukYuzen(4).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure class="figure">
                        <img src="~/gmKurumsal/img/kucukYuzen(3).jpg" class="figure-img img-fluid rounded shadow" alt="...">
                    </figure>
                </div>
            </div>
            <hr>

        </div>
    </section>

</main>

